*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 768px) {
    #navbar {
        flex-wrap: wrap;
        height: auto !important;
        padding: 1rem 2rem !important;
        gap: 1rem !important;
    }
    #search-bar {
        order: 3;
        flex-basis: 100%;
        max-width: none !important;
        height: 5vh !important;
    }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}